---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
AlwaysBreakTemplateDeclarations: Yes
AllowShortCaseLabelsOnASingleLine: true
InsertBraces: true
IndentCaseLabels: true
AccessModifierOffset: -4
PointerAlignment: Left